<app-breadcrumb [title]="'Actualizar cliente'" [items]="['Clientes']" [active_item]="'Actualizar cliente'">
</app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Datos del cliente</h5>
                </div>
                <div class="card-body">
                    <form class="needs-validation" novalidate [ngClass]="{'was-validated': validate}"
                        [formGroup]="updateUserForm">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="identification">Identificaci&oacute;n</label>
                                <input class="form-control" id="identification" type="text"
                                    placeholder="Ingrese una identificacion (Cedula,Ruc)" minlength="10" maxlength="13"
                                    required="" onlyNumbers formControlName="identification">
                                <div class="valid-feedback">¡Correcto!</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="name">Nombres y Apellidos</label>
                                <input class="form-control" id="name" type="text"
                                    placeholder="Ingrese el nombre completo" required="" formControlName="name">
                                <div class="valid-feedback">¡Correcto!</div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="email">Correo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    </div>
                                    <input class="form-control" id="email" type="email" placeholder="Ingrese un correo"
                                        aria-describedby="inputGroupPrepend" required="" formControlName="email">

                                    <div class="invalid-feedback">Por favor ingrese un correo v&aacute;lido</div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone">T&eacute;lefono</label>

                                <input class="form-control" id="phone" type="text" placeholder="Ingrese el telefono"
                                    required="" formControlName="phone">
                                <div class="valid-feedback">¡Correcto!</div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="address">Direcci&oacute;n</label>
                                <input class="form-control" id="address" type="text" placeholder="Ingrese una direccion"
                                    required="" formControlName="address">
                                <div class="invalid-feedback">Por favor ingrese una direcci&oacute;n </div>
                            </div>
                        </div>

                        <button class="btn btn-primary float-right" type="button" (click)=submit()><i
                                class="fa fa-save"></i> Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>