<app-breadcrumb [title]="'Inicio'" [items]="['Dashboard']" [active_item]="'Inicio'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row second-chart-list third-news-update">
        
        <div class="col-xl-8 xl-100 dashboard-sec box-col-12">
            <div class="card earning-card">
                <div class="card-body p-0">
                    <div class="row m-0">
                        <div class="col-xl-3 earning-content p-0">
                            <div class="row m-0 chart-left">
                                <div class="col-xl-12 p-0 left_side_earning">
                                    <h5>Dashboard</h5>
                                    <p class="font-roboto">Resumen del mes</p>
                                </div>
                                <div class="col-xl-12 p-0 left_side_earning">
                                    <h5>$ {{totalActualMonth}} </h5>
                                    <p class="font-roboto">Este mes ganando</p>
                                </div>
                                <div class="col-xl-12 p-0 left_side_earning">
                                    <h5>$ {{totalPastMonth}}</h5>
                                    <p class="font-roboto">Ganado del mes pasado</p>
                                </div>
                                <div class="col-xl-12 p-0 left-btn">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 p-0">
                            <div class="chart-right">
                                <div class="row m-0 p-tb">
                                    <div class="col-xl-8 col-md-8 col-sm-8 col-12 p-0">
                                        <div class="inner-top-left">
                                            <ul class="d-flex list-unstyled">
                                                <li class="active">Anual</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 p-0 justify-content-end">
                                        <div class="inner-top-right">
                                            <ul class="d-flex list-unstyled justify-content-end">
                                                <li>Actual</li>
                                                <li>Pasado</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-body p-0">
                                            <div class="current-sale-container">
                                                <div id="chart-currently">
                                                    <apx-chart [series]='currentSales.series'
                                                        [chart]='currentSales.chart'
                                                        [dataLabels]='currentSales.dataLabels'
                                                        [stroke]='currentSales.stroke' [xaxis]='currentSales.xaxis'
                                                        [markers]='currentSales.markers' [yaxis]='currentSales.yaxis'
                                                        [grid]='currentSales.grid' [colors]='currentSales.colors'
                                                        [fill]='currentSales.fill' [legend]='currentSales.legend'
                                                        [tooltip]='currentSales.tooltip'>
                                                    </apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 xl-100 chart_data_left box-col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row m-0 chart-main">
                        <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                            <div class="media align-items-center">
                                <div class="hospital-small-chart">
                                    <div class="small-bar">
                                        <div class="small-chart">
                                            <x-chartist [type]='smallBarCharts.type' [data]='smallBarCharts.data'
                                                [options]='smallBarCharts.options' [events]='smallBarCharts.events'>
                                            </x-chartist>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="right-chart-content">
                                        <h4>{{complete}}</h4><span>completados </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                            <div class="media align-items-center">
                                <div class="hospital-small-chart">
                                    <div class="small-bar">
                                        <div class="small-chart1">
                                            <x-chartist [type]='smallBarCharts.type' [data]='smallBarCharts.data'
                                                [options]='smallBarCharts.options' [events]='smallBarCharts.events'>
                                            </x-chartist>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="right-chart-content">
                                        <h4>{{inventoried}}</h4><span>En inventario</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                            <div class="media align-items-center">
                                <div class="hospital-small-chart">
                                    <div class="small-bar">
                                        <div class="small-chart2">
                                            <x-chartist [type]='smallBarCharts.type' [data]='smallBarCharts.data'
                                                [options]='smallBarCharts.options' [events]='smallBarCharts.events'>
                                            </x-chartist>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="right-chart-content">
                                        <h4>{{processing}}</h4><span>En proceso</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-6 p-0 box-col-6">
                            <div class="media border-none align-items-center">
                                <div class="hospital-small-chart">
                                    <div class="small-bar">
                                        <div class="small-chart3">
                                            <x-chartist [type]='smallBarCharts.type' [data]='smallBarCharts.data'
                                                [options]='smallBarCharts.options' [events]='smallBarCharts.events'>
                                            </x-chartist>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="right-chart-content">
                                        <h4>{{returning}}</h4><span>Devueltos</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>