<app-breadcrumb [title]="'Proveedores'" [items]="['Proveedores']" [active_item]="'Listado'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Lista de proveedores</h5>
                    <a class="btn btn-outline-info float-right" [routerLink]="['/suppliers/create-supplier']"><i
                            class="fa fa-plus"></i>
                        Nuevo proveedor
                    </a>
                </div>
                <div class="card-header">
                    <div class="btn-group mt-2 float-right">
                        <button class="btn btn-light mr-2" (click)="generateExcel();"><i class="fa fa-file-excel-o text-success"></i> Excel</button>
                        <button class="btn btn-light" (click)="generatePdf();"><i class="fa fa-file-pdf-o text-danger"></i> Pdf</button>
                      </div>
                </div>
                <div class="card-body custom-datatable">
                    <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
                        [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">

                        <!-- <ngx-datatable-column name="ID" prop="id" style="display: none;"></ngx-datatable-column> -->
                        <ngx-datatable-column name="Identificacion" prop="identification"></ngx-datatable-column>
                        <ngx-datatable-column name="Nombres" prop="name"></ngx-datatable-column>
                        <ngx-datatable-column name="Correo" prop="email"></ngx-datatable-column>
                        <ngx-datatable-column name="Telefono" prop="phone"></ngx-datatable-column>
                        <ngx-datatable-column name="Direccion" prop="address"></ngx-datatable-column>

                        <ngx-datatable-column name="Acciones" sortable="false" prop="id">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a href="#" class="btn btn-light btn-xs btn-pill" (click)="deleteSupplier(row)">
                                    <i class="fa fa-ban text-danger" style="font-size: 20px;"></i>
                                </a>
                                <a href="#" class="btn btn-light btn-xs btn-pill"
                                    [routerLink]="['/suppliers/update-supplier', row.id]">
                                    <i class="fa fa-edit text-info" style="font-size: 20px;"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->