<app-breadcrumb [title]="'Transacciones'" [items]="['Transacciones']" [active_item]="'Listado'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">

                    <h5>Lista de transacciones</h5>
                    <a class="btn btn-outline-info float-right" [routerLink]="['/orders/create-order']"><i
                            class="fa fa-plus"></i>
                        Nueva transacci&oacute;n
                    </a>
                </div>
                <div class="card-header">
                    <div class="btn-group mt-2 float-right">
                        <button class="btn btn-light mr-2" (click)="generateExcel();"><i class="fa fa-file-excel-o text-success"></i> Excel</button>
                        <button class="btn btn-light" (click)="generatePdf();"><i class="fa fa-file-pdf-o text-danger"></i> Pdf</button>
                      </div>
                </div>
                <div class="card-body custom-datatable">
                    <ngx-datatable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
                        [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">

                        <ngx-datatable-column name="Secuencial" prop="sequential"></ngx-datatable-column>
                        <ngx-datatable-column name="Fecha" prop="date"></ngx-datatable-column>
                        <ngx-datatable-column name="Cliente" prop="client"></ngx-datatable-column>
                        <ngx-datatable-column name="Tipo" prop="type"></ngx-datatable-column>
                        <ngx-datatable-column name="Metodo pago" prop="payment"></ngx-datatable-column>
                        <ngx-datatable-column name="Estado" prop="state"></ngx-datatable-column>

                        <ngx-datatable-column name="Acciones" sortable="false" prop="id">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a href="javascript:void(0);" class="btn btn-light btn-xs btn-pill"
                                    (click)="deleteTransaction(row)">
                                    <i class="fa fa-ban text-danger" style="font-size: 20px;"></i>
                                </a>
                                <a href="javascript:void(0);" class="btn btn-light btn-xs btn-pill"
                                    (click)="editProduct(row)">
                                    <i class="fa fa-edit text-info" style="font-size: 20px;"></i>
                                </a>
                            </ng-template>
                        </ngx-datatable-column>

                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->